@page
@model RazorPageDemo.Pages.Invoices.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].DocumentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].Seler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].Bayer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Invoice) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bayer)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
